In [91]:
import pandas as  pd
import numpy as np 

# SQL Alchemy
from sqlalchemy import create_engine,Column, Integer, String, Float,  func, DateTime, ForeignKey
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [92]:
# Store filepaths in a variable
file1 = "clean_hi_measurements.csv"
file2 = "clean_hi_stations.csv"

# Read our Data files with the pandas library
measurements_df = pd.read_csv(file1)
stations_df =pd.read_csv(file2)

In [93]:
#check the dataframes
measurements_df.head()
#stations_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [94]:
#Use the engine and connection string to create a database called hawaii.sqlite.

# Create Database Connection
# ----------------------------------
engine = create_engine("sqlite:///hawaii.sqlite", echo=False)
conn = engine.connect()

In [95]:
#Use declarative_base and create ORM classes for each table.You will need a class for Measurement and for Station. 
#Make sure to define your primary keys.
Base = declarative_base()

class Station(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    station = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

class Measurement(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    station = Column(String(255), ForeignKey('stations.station'))
    date = Column(DateTime)
    prcp = Column(Float)
    tobs = Column(Integer)

In [100]:
#Once you have your ORM classes defined, create the tables in the database using create_all.
Base.metadata.create_all(engine)

In [101]:
#start a session to add data into the tables
session = Session(bind=engine)

In [102]:
#import the Pandas DFs into the SQLite database
stations_df.to_sql("stations", conn, if_exists="replace")
measurements_df.to_sql("measurements", conn, if_exists="replace")