In [5]:
import pandas as  pd
import numpy as np 

# SQL Alchemy
from sqlalchemy import create_engine,Column, Integer, String, Float,  func
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.ext.automap import automap_base
Base = declarative_base()

# PyMySQL 
import pymysql
pymysql.install_as_MySQLdb()

In [2]:
# Store filepaths in a variable
file1 = "clean_hi_measurements.csv"
file2 = "clean_hi_stations.csv"

# Read our Data files with the pandas library
measurements = pd.read_csv(file1)
stations =pd.read_csv(file2)

In [4]:
#check the dataframes
measurements.head()
stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
#Use the engine and connection string to create a database called hawaii.sqlite.
#MAY BE ALL WRONG STARTING HERE

# Create Database Connection
# ----------------------------------
engine = create_engine("sqlite:///emoji.sqlite", echo=False)
conn = engine.connect()

In [7]:
#Use declarative_base and create ORM classes for each table.You will need a class for Measurement and for Station. 
#Make sure to define your primary keys.

#example of an ORM class
'''class Dog(Base):
    __tablename__ = 'dog'
    id = Column(Integer, primary_key=True)
    name = Column(String(255))
    color = Column(String(255))
    age = Column(Integer)'''

In [ ]:
#Once you have your ORM classes defined, create the tables in the database using create_all.