In [2]:
import os
import pandas as pd
import numpy as np

In [3]:
#set up file paths
file_path1 = os.path.join("raw_data", "schools_complete.csv")
file_path2 = os.path.join("raw_data", "students_complete.csv")

In [4]:
#define files
file1 = pd.read_csv(file_path1)
file2 = pd.read_csv(file_path2)

In [5]:
#create dataframes
df_school = pd.DataFrame(file1)
df_stud = pd.DataFrame(file2)

df_school

    School ID                   name      type  size   budget
0           0      Huang High School  District  2917  1910635
1           1   Figueroa High School  District  2949  1884411
2           2    Shelton High School   Charter  1761  1056600
3           3  Hernandez High School  District  4635  3022020
4           4    Griffin High School   Charter  1468   917500
5           5     Wilson High School   Charter  2283  1319574
6           6    Cabrera High School   Charter  1858  1081356
7           7     Bailey High School  District  4976  3124928
8           8     Holden High School   Charter   427   248087
9           9       Pena High School   Charter   962   585858
10         10     Wright High School   Charter  1800  1049400
11         11  Rodriguez High School  District  3999  2547363
12         12    Johnson High School  District  4761  3094650
13         13       Ford High School  District  2739  1763916
14         14     Thomas High School   Charter  1635  1043130

In [6]:
#Change column headers in both dfs to allow for merge
df_school_sync = df_school.rename(columns={"name":"School Name"})
df_stud_sync = df_stud.rename(columns={"school":"School Name"})

df_stud_sync.head()

,Student ID,name,gender,grade,School Name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [7]:
#right join tables by School Name, including all student table rows
merged_data = pd.merge(df_school_sync, df_stud_sync, on="School Name", how="right")

#check out the merged table
merged_data.head()

,School ID,School Name,type,size,budget,Student ID,name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [8]:
#create metrics
#count total # of schools by unique names
total_schools = merged_data["School Name"].nunique()

#count total students by length of names column
total_students = len(merged_data["name"])
total_students

#total budget by sum of 
total_budget = df_school_sync["budget"].sum()
total_budget

#calc average math & reading score
avg_math = merged_data["math_score"].mean()
#calc average math score
avg_reading = merged_data["reading_score"].mean()
avg_reading

#define passing level
pass_score = 70

#calculate number of students passing math and reading
reading_pass_stud = merged_data["reading_score"].loc[merged_data["reading_score"] > int(pass_score)].count()
math_pass_stud = merged_data["math_score"].loc[merged_data["math_score"] > int(pass_score)].count()

#calculate percentages
pct_passing_math = math_pass_stud / total_students
pct_passing_reading = reading_pass_stud/ total_students
avg_pass_rate = (pct_passing_reading + pct_passing_math) / 2
avg_pass_rate

0.77681899412815936

In [9]:
district_summary = pd.DataFrame({"Total Schools":total_schools, "Total Students":total_students, "Total Budget":total_budget,
                                "Average Math Score":avg_math, "Average Reading Score":avg_reading, "% Passing Math":pct_passing_math, 
                                 "% Passing Reading":pct_passing_reading, "Overall Pass Rate":avg_pass_rate}, index=[0])
district_summary.head()

,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Overall Pass Rate,Total Budget,Total Schools,Total Students
0,0.723921,0.829717,78.985371,81.87784,0.776819,24649428,15,39170

In [10]:
#UNNECESSARY... THIS IS THE HARD WAY (easy way is later)

#create new data frame to store school-level data
school_avg_data = merged_data.groupby(["School Name"]).mean()
school_avg_data_sorted = school_avg_data.sort_values("School ID")
school_avg_data_sorted.reset_index(inplace=True)
school_avg_data_sorted.head()

,School Name,School ID,size,budget,Student ID,reading_score,math_score
0,Huang High School,0.0,2917.0,1910635.0,1458.0,81.182722,76.629414
1,Figueroa High School,1.0,2949.0,1884411.0,4391.0,81.158020,76.711767
2,Shelton High School,2.0,1761.0,1056600.0,6746.0,83.725724,83.359455
3,Hernandez High School,3.0,4635.0,3022020.0,9944.0,80.934412,77.289752
4,Griffin High School,4.0,1468.0,917500.0,12995.5,83.816757,83.351499

In [11]:
#I MIGHT NEED TO RE-DO THIS BY PULLING I FROM MERGED DATA... using original tables isn't really working... maybe sort?

#School-Level Metrics
school_names = df_school_sync["School Name"]

#designate school types
school_types = df_school_sync["type"]

#number of students by school
school_size = df_school_sync["size"]

#total budget by school
school_budget = df_school_sync["budget"]

#per student budget
per_student_budget = school_budget / school_size

#average math score
avg_school_math = school_avg_data["math_score"]

#average reading score
avg_school_reading = school_avg_data["reading_score"]

#% group the data frame to show the number that passed math for each school... grouping by name caused problems so went with ID
school_math_pass_only= merged_data.loc[(merged_data["math_score"] > 70)].groupby("School ID").count()

#create a list that is only the math scores per school (other columns gone)
school_math_pass_tot = school_math_pass_only["math_score"]

#calculate percentage passing math for each school
school_math_pass_pct = (school_math_pass_tot / school_size) *100

#% passing reading
#% group the data frame to show the number that passed reading for each school... grouping by name caused problems so went with ID
school_reading_pass_only= merged_data.loc[(merged_data["reading_score"] > 70)].groupby("School ID").count()

#create a list that is only the reading scores per school (other columns gone)
school_reading_pass_tot = school_reading_pass_only["reading_score"]

#calculate percentage passing reading for each school
school_reading_pass_pct = (school_reading_pass_tot / school_size) * 100

#%overall passing rate
school_overall_pass_rate = (school_math_pass_pct + school_reading_pass_pct) / 2

school_types_list = school_types.tolist()
print(school_types_list)

#Create a new data frame that stores all of it
school_summary_data = pd.DataFrame({
    "": school_names.tolist(),
    "School Type": school_types.tolist(),
    "Total Students": school_size.tolist(),
    "Total School Budget":school_budget.tolist(),
    "Per Student Budget":per_student_budget.tolist(),
    "Average Math Score":avg_school_math.tolist(),
    "Average Reading Score":avg_school_reading.tolist(),
    "% Passing Math":school_math_pass_pct.tolist(),
    "% Passing Reading":school_reading_pass_pct.tolist(),
    "% Overall Passing Rate":school_overall_pass_rate.tolist()
    }).sort_values("")

school_summary_data.set_index("",inplace=True)

#format via mapping
school_summary_data["School Type"] = school_summary_data["School Type"]
school_summary_data["Total Students"] = school_summary_data["Total Students"].map("{:,}".format)
school_summary_data["Total School Budget"] = school_summary_data["Total School Budget"].map("${:,.2f}".format)
school_summary_data["Per Student Budget"] = school_summary_data["Per Student Budget"].map("${:.2f}".format)
school_summary_data["Average Math Score"] = school_summary_data["Average Math Score"].map("{:.1f}".format)
school_summary_data["Average Reading Score"] = school_summary_data["Average Reading Score"].map("{:.1f}".format)
school_summary_data["% Passing Math"] = school_summary_data["% Passing Math"].map("{:.2f}%".format)
school_summary_data["% Passing Reading"] = school_summary_data["% Passing Reading"].map("{:.1f}%".format)
school_summary_data["% Overall Passing Rate"] = school_summary_data["% Overall Passing Rate"].map("{:.2f}%".format)

school_summary_data.head()
#cols = school_summary_data.columns.values

['District', 'District', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'Charter', 'Charter', 'Charter', 'District', 'District', 'District', 'Charter']

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
,,,,,,,,,
Bailey High School,71.97%,64.63%,79.3%,76.6,81.2,$628.00,District,"$3,124,928.00","4,976"
Cabrera High School,91.71%,89.56%,93.9%,83.8,83.8,$582.00,Charter,"$1,081,356.00","1,858"
Figueroa High School,71.09%,63.75%,78.4%,83.1,84.0,$639.00,District,"$1,884,411.00","2,949"
Ford High School,71.63%,65.75%,77.5%,83.3,84.0,$644.00,District,"$1,763,916.00","2,739"
Griffin High School,91.55%,89.71%,93.4%,83.4,83.8,$625.00,Charter,"$917,500.00","1,468"

In [12]:
#Top performing schools by Passing rate

#sort from best to worst
schools_by_pass = school_summary_data.sort_values("% Overall Passing Rate", ascending=False)

#only display top 5 schools
top5_schools = schools_by_pass.iloc[0:5,:]

top5_schools

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
,,,,,,,,,
Wilson High School,92.09%,90.93%,93.3%,77.3,80.9,$578.00,Charter,"$1,319,574.00","2,283"
Pena High School,91.94%,91.68%,92.2%,83.8,84.0,$609.00,Charter,"$585,858.00",962
Wright High School,91.86%,90.28%,93.4%,76.8,80.7,$583.00,Charter,"$1,049,400.00","1,800"
Cabrera High School,91.71%,89.56%,93.9%,83.8,83.8,$582.00,Charter,"$1,081,356.00","1,858"
Holden High School,91.69%,90.63%,92.7%,77.1,81.0,$581.00,Charter,"$248,087.00",427

In [13]:
#Top performing schools by Passing rate

#sort from best to worst
worst_schools_by_pass = school_summary_data.sort_values("% Overall Passing Rate")

#only display top 5 schools
bottom5_schools = worst_schools_by_pass.iloc[0:5,:]

bottom5_schools

,% Overall Passing Rate,% Passing Math,% Passing Reading,Average Math Score,Average Reading Score,Per Student Budget,School Type,Total School Budget,Total Students
,,,,,,,,,
Rodriguez High School,70.91%,64.07%,77.7%,83.4,83.7,$637.00,District,"$2,547,363.00","3,999"
Huang High School,71.07%,63.32%,78.8%,77.0,81.0,$655.00,District,"$1,910,635.00","2,917"
Johnson High School,71.07%,63.85%,78.3%,83.4,83.8,$650.00,District,"$3,094,650.00","4,761"
Figueroa High School,71.09%,63.75%,78.4%,83.1,84.0,$639.00,District,"$1,884,411.00","2,949"
Hernandez High School,71.47%,64.75%,78.2%,77.1,80.7,$652.00,District,"$3,022,020.00","4,635"

In [14]:
#Math scores by grade
grade9 = merged_data.loc[merged_data["grade"]=="9th",:].groupby("School Name")
avg_math_grade9 = grade9["math_score"].mean()

grade10 = merged_data.loc[merged_data["grade"]=="10th",:].groupby("School Name")
avg_math_grade10 = grade10["math_score"].mean()

grade11 = merged_data.loc[merged_data["grade"]=="11th",:].groupby("School Name")
avg_math_grade11 = grade11["math_score"].mean()

grade12 = merged_data.loc[merged_data["grade"]=="12th",:].groupby("School Name")
avg_math_grade12 = grade12["math_score"].mean()

#create a dataframe with the grades
math_by_grade = pd.DataFrame({
    "":school_names.tolist(),
    "9th": avg_math_grade9.tolist(),
    "10th": avg_math_grade10.tolist(),
    "11th": avg_math_grade11.tolist(),
    "12th": avg_math_grade12.tolist()
})

math_by_grade.set_index("",inplace=True)

math_by_grade

                            10th       11th       12th        9th

Huang High School      76.996772  77.515588  76.492218  77.083676
Figueroa High School   83.154506  82.765560  83.277487  83.094697
Shelton High School    76.539974  76.884344  77.151369  76.403037
Hernandez High School  77.672316  76.918058  76.179963  77.361345
Griffin High School    84.229064  83.842105  83.356164  82.044010
Wilson High School     77.337408  77.136029  77.186567  77.438495
Cabrera High School    83.429825  85.000000  82.855422  83.787402
Bailey High School     75.908735  76.446602  77.225641  77.027251
Holden High School     76.691117  77.491653  76.863248  77.187857
Pena High School       83.372000  84.328125  84.121547  83.625455
Wright High School     76.612500  76.395626  77.690748  76.859966
Rodriguez High School  82.917411  83.383495  83.778976  83.420755
Johnson High School    83.087886  83.498795  83.497041  83.590022
Ford High School       83.724422  83.195326  83.035794  83.085578
Thomas High School     84.010288  83.836782  83.644986  83.264706

In [17]:
#reading scores by grade
avg_reading_grade9 = grade9["reading_score"].mean()

avg_reading_grade10 = grade10["reading_score"].mean()

avg_reading_grade11 = grade11["reading_score"].mean()

avg_reading_grade12 = grade12["reading_score"].mean()

#create a dataframe with the grades
reading_by_grade = pd.DataFrame({
    "":school_names.tolist(),
    "9th": avg_reading_grade9.tolist(),
    "10th": avg_reading_grade10.tolist(),
    "11th": avg_reading_grade11.tolist(),
    "12th": avg_reading_grade12.tolist()
})

reading_by_grade.set_index("",inplace=True)

reading_by_grade

                            10th       11th       12th        9th

Huang High School      80.907183  80.945643  80.912451  81.303155
Figueroa High School   84.253219  83.788382  84.287958  83.676136
Shelton High School    81.408912  80.640339  81.384863  81.198598
Hernandez High School  81.262712  80.403642  80.662338  80.632653
Griffin High School    83.706897  84.288089  84.013699  83.369193
Wilson High School     80.660147  81.396140  80.857143  80.866860
Cabrera High School    83.324561  83.815534  84.698795  83.677165
Bailey High School     81.512386  81.417476  80.305983  81.290284
Holden High School     80.773431  80.616027  81.227564  81.260714
Pena High School       83.612000  84.335938  84.591160  83.807273
Wright High School     80.629808  80.864811  80.376426  80.993127
Rodriguez High School  83.441964  84.373786  82.781671  84.122642
Johnson High School    84.254157  83.585542  83.831361  83.728850
Ford High School       84.021452  83.764608  84.317673  83.939778
Thomas High School     83.812757  84.156322  84.073171  83.833333

In [ ]:
#create performance bins by school size: small, medium, large (see binning exercise). Table sould include