In [1]:
import time
from splinter import Browser
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [2]:
##INSTRUCTIONS - NASA Mars News

#Scrape the NASA Mars News Site and collect the latest News Title and Paragragh Text. 
#Assign the text to variables that you can reference later.

In [3]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)


def scrape_news():
    browser = init_browser()
    
    #MAYBE:  create dict that we can insert into mongo
    
    url_news = "https://mars.nasa.gov/news/"
    browser.visit(url_news)
    time.sleep(1)
    
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")

    news_title = soup.find("a", class_="content_title").get_text()
    #news_p = soup.find("div", class_="article_teaser_body").get_text()
    
    return news_title

In [4]:
#test the above
scrape_news()

AttributeError: 'NoneType' object has no attribute 'get_text'

In [5]:
##INSTRUCTIONS:JPL Mars Space Images - Featured Image
#Visit the url for JPL's Featured Space Image here.
#Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called featured_image_url.
#Make sure to find the image url to the full size .jpg image.
#Make sure to save a complete url string for this image.

browser = init_browser()
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

#should this reference "data-link" instead?
featured_image_url =  str(soup.find('a', class_='button fancybox')["data-fancybox-href"])

full_img_url = str("https://www.jpl.nasa.gov") + featured_image_url

featured_image_url

'/spaceimages/images/mediumsize/PIA18322_ip.jpg'

In [6]:
##INSTRUCTIONS: Mars Weather
#Visit the Mars Weather twitter account here and scrape the latest Mars weather tweet from the page. 
#Save the tweet text for the weather report as a variable called mars_weather.

##CAN I GET RID OF THIS BELOW?
"""def init_browser():
# @NOTE: Replace the path with your actual path to the chromedriver
executable_path = {"executable_path": "chromedriver.exe"}
return Browser("chrome", **executable_path, headless=False)"""

def scrape_tweet():
    browser = init_browser()
    
    #MAYBE:  create dict that we can insert into mongo
    
    url_tweet = "https://twitter.com/marswxreport?lang=en"
    browser.visit(url_tweet)
    time.sleep(1)
    
    html = browser.html
    soup = BeautifulSoup(html, "html.parser")

    mars_weather = soup.find("p", class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").get_text()
        
    return mars_weather

scrape_tweet()

'Sol 1958 (Feb 07, 2018), Sunny, high -14C/6F, low -77C/-106F, pressure at 7.41 hPa, daylight 05:41-17:27'

In [12]:
##INSTRUCTIONS:  Mars Facts
#Visit the Mars Facts webpage here and use Pandas to scrape the table containing facts about the planet including Diameter, Mass, etc.
#Use Pandas to convert the data to a HTML table string.

url_facts = "https://space-facts.com/mars/"
facts_tables = pd.read_html(url_facts)
mars_facts_df = facts_tables[0]

mars_facts_df.columns = ["Metric", "Value"]

mars_facts_df

                 Metric                          Value
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [13]:
#Use Pandas to convert the data to a HTML table string.
html_table = mars_facts_df.to_html()
html_table.replace('\n', '')

html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Metric</th>\n      <th>Value</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]